@import "../node_modules/bootstrap/scss/bootstrap";

.d3-component {
  .tick {
    display: none;
  }
  .connector {
    stroke: grey;
    stroke-dasharray: 3;
  }
  text {
    fill: white;
    font: 16px sans-serif;
  }
}
