@import "../node_modules/bootstrap/scss/bootstrap";

.d3-component {
  .tick {
    display: none;
  }
  .connector {
    stroke: grey;
    stroke-dasharray: 10;
  }
  text {
    font-size: 24px;
  }
}
